
body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-top: 1.5em;
    background-color:lightblue;
    line-height: 1.5;

}
h1{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    
}
p{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:darkcyan;
    border-radius: 1rem;
    color: darkred;
}

  
  ul {
    list-style:none;
    background: #3399ff;
    padding: 20px;
  }
  
  ul li {
    background: #cce5ff;
    margin: 5px;
  }
  img{
      display: block;
  margin-left: auto;
  margin-right: auto;
  }